//
@import './config/_reset.scss';
@import './config/_variables.scss';
@import './config/_typo.scss';


.o-jumbo{
    background-image: url(../img/jumbotron.jpg);
}

.o-topFooter{
    background-image: url(../img/footer-bg.jpg);
}

.a-cardIcon{
    z-index: 999;
    opacity: 0;
    transition: opacity 1s ease;
}

.a-cardImage:hover .a-cardIcon{
    opacity: 1;
}